In [17]:
import pandas as pd
import numpy as np
import os
import sys
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df_lineage = pd.read_csv("data/Lista_SNPs_linajes-sublinajes.tsv", sep="\t", header=0)

In [19]:
df_lineage.head()

,Lineage,Position,Gene coord.,Allele change,Codon number,Codon change,Amino acid change,Locus Id,Gene name
0,lineage1,615938,1104,G/A,368,GAG/GAA,E/E,Rv0524,hemL
1,lineage1.1,4404247,1056,G/A,352,CTG/CTA,L/L,Rv3915,-
2,lineage1.1.1,3021283,711,G/A,237,CGG/CGA,R/R,Rv2707,-
3,lineage1.1.1.1,3216553,339,G/A,113,GTC/GTT,V/V,Rv2907c,rimM
4,lineage1.1.2,2622402,51,G/A,17,GCC/GCT,A/A,Rv2343c,dnaG

In [20]:
df_lineage['lineage'] = df_lineage['Lineage'].str.lstrip("lineage")

In [21]:
df_lineage.head()

,Lineage,Position,Gene coord.,Allele change,Codon number,Codon change,Amino acid change,Locus Id,Gene name,lineage
0,lineage1,615938,1104,G/A,368,GAG/GAA,E/E,Rv0524,hemL,1
1,lineage1.1,4404247,1056,G/A,352,CTG/CTA,L/L,Rv3915,-,1.1
2,lineage1.1.1,3021283,711,G/A,237,CGG/CGA,R/R,Rv2707,-,1.1.1
3,lineage1.1.1.1,3216553,339,G/A,113,GTC/GTT,V/V,Rv2907c,rimM,1.1.1.1
4,lineage1.1.2,2622402,51,G/A,17,GCC/GCT,A/A,Rv2343c,dnaG,1.1.2

In [22]:
df_lineage[['REF', 'ALT']] = df_lineage['Allele change'].str.split("/", expand=True)

In [23]:
df_lineage.head()

,Lineage,Position,Gene coord.,Allele change,Codon number,Codon change,Amino acid change,Locus Id,Gene name,lineage,REF,ALT
0,lineage1,615938,1104,G/A,368,GAG/GAA,E/E,Rv0524,hemL,1,G,A
1,lineage1.1,4404247,1056,G/A,352,CTG/CTA,L/L,Rv3915,-,1.1,G,A
2,lineage1.1.1,3021283,711,G/A,237,CGG/CGA,R/R,Rv2707,-,1.1.1,G,A
3,lineage1.1.1.1,3216553,339,G/A,113,GTC/GTT,V/V,Rv2907c,rimM,1.1.1.1,G,A
4,lineage1.1.2,2622402,51,G/A,17,GCC/GCT,A/A,Rv2343c,dnaG,1.1.2,G,A

In [24]:
"""
'6576': ['A', 'fluoroquinolones_(FQ)'],
'6579': ['A', 'fluoroquinolones_(FQ)'],
'6620': ['A', 'fluoroquinolones_(FQ)'],
'6734': ['A', 'fluoroquinolones_(FQ)'],
"""

"\n'6576': ['A', 'fluoroquinolones_(FQ)'],\n'6579': ['A', 'fluoroquinolones_(FQ)'],\n'6620': ['A', 'fluoroquinolones_(FQ)'],\n'6734': ['A', 'fluoroquinolones_(FQ)'],\n"

In [41]:
for i in df_lineage.index:
    print("'%s' : ['%s', '%s']," % (df_lineage.loc[i, 'Position'], df_lineage.loc[i, 'ALT'], df_lineage.loc[i, 'lineage']))

'615938' : ['A', '1'],
'4404247' : ['A', '1.1'],
'3021283' : ['A', '1.1.1'],
'3216553' : ['A', '1.1.1.1'],
'2622402' : ['A', '1.1.2'],
'1491275' : ['A', '1.1.3'],
'3479545' : ['A', '1.2.1'],
'3470377' : ['T', '1.2.2'],
'497491' : ['A', '2'],
'1881090' : ['T', '2.1'],
'2505085' : ['A', '2.2'],
'797736' : ['T', '2.2.1'],
'4248115' : ['T', '2.2.1.1'],
'3836274' : ['A', '2.2.1.2'],
'346693' : ['T', '2.2.2'],
'3273107' : ['A', '3'],
'1084911' : ['A', '3.1.1'],
'3722702' : ['C', '3.1.2'],
'1237818' : ['G', '3.1.2.1'],
'2874344' : ['A', '3.1.2.2'],
'931123' : ['C', '4**'],
'62657' : ['A', '4.1'],
'514245' : ['T', '4.1.1'],
'1850119' : ['T', '4.1.1.1'],
'541048' : ['G', '4.1.1.2'],
'4229087' : ['T', '4.1.1.3'],
'891756' : ['G', '4.1.2'],
'107794' : ['T', '4.1.2.1'],
'2411730' : ['C', '4.2'],
'783601' : ['C', '4.2.1'],
'1487796' : ['A', '4.2.2'],
'1455780' : ['C', '4.2.2.1'],
'764995' : ['G', '4.3'],
'615614' : ['A', '4.3.1'],
'4316114' : ['A', '4.3.2'],
'3388166' : ['G', '4.3.2.1'],
'403364' : ['A', '4.3.3'],
'3977226' : ['A', '4.3.4'],
'4398141' : ['A', '4.3.4.1'],
'1132368' : ['T', '4.3.4.2'],
'1502120' : ['A', '4.3.4.2.1'],
'4307886' : ['A', '4.4'],
'4151558' : ['A', '4.4.1'],
'355181' : ['A', '4.4.1.1'],
'2694560' : ['C', '4.4.1.2'],
'4246508' : ['A', '4.4.2'],
'1719757' : ['T', '4.5'],
'3466426' : ['A', '4.6'],
'4260268' : ['C', '4.6.1'],
'874787' : ['A', '4.6.1.1'],
'1501468' : ['C', '4.6.1.2'],
'4125058' : ['C', '4.6.2'],
'3570528' : ['G', '4.6.2.1'],
'2875883' : ['T', '4.6.2.2'],
'4249732' : ['G', '4.7'],
'3836739' : ['A', '4.8'],
'1759252' : ['T', '4.9**'],
'1799921' : ['A', '5'],
'1816587' : ['G', '6'],
'1137518' : ['A', '7'],
'2831482' : ['G', 'BOV'],
'1882180' : ['T', 'BOV_AFRI'],